---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
<!-- begin bird -->
<div class="bird">
	<!-- begin shell -->
	<div class="shell">

		<div class="shell__down"></div>

		<!-- begin eye -->
		<div class="eye__wrap">
			<div class="eye eye-left">
				<div class="eye__inside eye__inside-right"></div>
			</div>
			<div class="eye eye-right">
				<div class="eye__inside eye__inside-right"></div>
			</div>
		</div>
		<!-- end eye -->

		<div class="beak"></div>

		<div class="eyebrow">
			<div class="eyebrow__left"></div>
			<div class="eyebrow__right"></div>
		</div>
		
	</div>
	<!-- end shell -->
	<!-- begin forelock -->
	<div class="forelock__wrap">
		<div class="forelock forelock__backside"></div>
		<div class="forelock forelock__frontside"></div>
	</div>
	<!-- end forelock -->
	<!-- begin tail -->
	<div class="tail__wrap">
		<div class="tail tail__1"></div>
		<div class="tail tail__2"></div>
		<div class="tail tail__3"></div>
	</div>
	<!-- end tail -->
</div>
<!-- end bird -->

{% endblock %}
